WEB_PORT=3000
VITE_API_URL=http://localhost:5001

API_PORT=5001
API_ALLOWED_WEB_ORIGIN=http://localhost:3000

DB_NAME=despotify
DB_USER=despotify
DB_PASSWORD=despotify
DB_HOST=localhost
DB_PORT=5432

# Create an app at https://developer.spotify.com/dashboard to get these
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
